.i {
  display: flex;
  height: 100vh;
    
}

.i-left{
  display: flex;
  align-items: center;
  justify-content: center;
}

.i-left-wrapper{
  padding: 50px;
  height: 50%;
  margin-top: 300px
}

.i-intro{
  font-size: 30px;
  font-weight: 300;
}

.i-name{
  font-size: 70px;
}

.i-title{
  height: 50px;
  overflow: hidden;
}

.i-desc{
  margin-top: 20px;
  font-size: 20px;
}

.i-title-wrapper{
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
  33%{
    transform: translateY(-5px);
  }
  66%{
    transform: translateY(-50px);
  }
  100%{
    transform: translateY(-100px);
  }
}

.i-title-item{
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #59b256 ;
  display: flex;
  align-items: center;
}  
  
@media screen and (max-width: 480px) {
  .i{
    flex-direction: column;
    height: 30vh;
    margin-bottom: 0;
}
  .i-left-wrapper{
    padding: 10px;
    height: 25vh;
    margin-top: 25px;
    margin-left: 30px;
  }

  .i-desc{
    display: none;
  }

  .i-intro{
    font-size: 20px;
    font-weight: 300;
  }
  
  .i-name{
    font-size: 40px;
  }

}
